package foodratings.scraper

object ScraperConfiguration {
  val consumer_key = ""
  val consumer_secret = ""
  val private_url = "http://query.yahooapis.com/v1/yql/jonbca/ratings?format=json&eid={eid}"
}
